*,body{
	background-color: azure;
	margin: 0;
}
.container{
  width: 100vw;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
}
h1{
font-size: 30px;
}

p{
	margin-bottom: 4px;

}

input{
	width: 40%;
	height: 30px;
	/* margin: 5px auto; */
}